<div class="middle"></div>
<div class="mid-info">
    <!-- <section class="sec-g sec-how">
    <div class="inner">
    <div class="how">How To Enjoy</div>
    <div class="play">PS5용 클라우드 스트리밍 PlayStation Plus 가입자용으로 PS5용 게임의 스트리밍 서비스가 신등장. 다운로드하는 시간과 저장 용량을 신경 쓰지 않고 게임 카탈로그, 게임 평가판, PlayStation Store에서 구입한 PS5용 게임을 자유롭게 플레이하세요.</div>
</section> -->
</div>
<div class="layout-footer">
    <div class="inner">
        <div class="ft-tit">Play Together</div>
        <div class="all-ft">
            <div class="menu1">
                <div class="menu-strong">
                    <strong>[MENU]</strong>
                </div>
                <ul>
                    <li>
                        <a href="ps5">PS5 <i class="las la-arrow-right"></i></a>
                    </li>
                    <li>
                        <a href="ps4">PS4 <i class="las la-arrow-right"></i></a>
                    </li>
                    <li>
                        <a href="game">GAME <i class="las la-arrow-right"></i></a>
                    </li>
                    <li>
                        <a href="etc">ETC <i class="las la-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
            <div class="menu2">
                <div class="menu-strong">
                    <strong>[COMPANY]</strong>
                </div>
                <ul>
                    <li>
                        <a href="About Us">About Us <i class="las la-arrow-right"></i> </a>
                    </li>
                    <li>
                        <a href="Contact Us">Contact Us <i class="las la-arrow-right"></i></a>
                    </li>
                    <li>
                        <a href="Our Company">Our Company <i class="las la-arrow-right"></i></a>
                    </li>
                    <li>
                        <a href="Data & Sales">Data & Sales <i class="las la-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ft-company">
            <a href="#"><span class="last">PLAY STATION</span></a>

            <p class="copy">SONY ⓒ2024</p>
        </div>
    </div>
</div>
